:80
file_server
templates
root * /usr/share/caddy

@encode_exts {
    path / *.html *.js *.css *.svg
}
encode @encode_exts gzip

respond /markdown/* 404
# respond /health-check 200

@cli {
    header_regexp ua User-Agent (^curl|^[Ww]get|^HTTPie)
}

handle @cli {
    header Content-Type "text/plain; charset=UTF-8"
    respond "{{ (split "," .Req.Header.Get \"X-Forwarded-For\")._0 }}"
}

handle /ip {
    header {
        Cache-Control               "no-store, max-age=0, must-revalidate"
        Content-Type                "text/plain; charset=UTF-8"
        Strict-Transport-Security   max-age=31536000
    }
    respond "{{ (split "," .Req.Header.Get \"X-Forwarded-For\")._0 }}"
}

handle {
    route {
        header {
            Cache-Control               "no-store, max-age=0, must-revalidate"
            Content-Security-Policy     "script-src 'self'"
            Referrer-Policy             no-referrer-when-downgrade
            Strict-Transport-Security   "max-age=63072000; includeSubDomains"
            X-Content-Type-Options      nosniff
            X-Frame-Options             DENY
            X-XSS-Protection            "1; mode=block"
        }
        header /assets/* Cache-Control  max-age=31536000
    }
}