{
	admin off
	auto_https off
	http_port 8080
}

http:// {
	handle {
		file_server {
			precompressed br gzip
			root /srv
		}
		templates

		respond /templates/* 404

		header {
			Content-Security-Policy "script-src 'self'"
			Permissions-Policy "geolocation=()"
			Referrer-Policy "no-referrer"
			Strict-Transport-Security "max-age=63072000; includeSubDomains"
			X-Content-Type-Options "nosniff"
			X-Frame-Options "DENY"
			X-XSS-Protection "1; mode=block"
		}

		@cache_one_week {
			path /assets/*
			path /robots.txt
			path /favicon.ico
		}
		route {
			header Cache-Control no-store
			header @cache_one_week Cache-Control "max-age=604800, must-revalidate"
		}
	}

	@cli {
		header_regexp User-Agent (^curl|^[Ww]get|^HTTPie)
	}
	handle @cli {
		templates
		header Content-Type "text/plain; charset=UTF-8"
		respond "{{ first (.Req.Header.Get \"X-Forwarded-For\" | splitList \",\") }}"
	}

	handle /ip {
		templates
		header {
			Cache-Control "no-store"
			Content-Type "text/plain; charset=UTF-8"
		}
		respond "{{ first (.Req.Header.Get \"X-Forwarded-For\" | splitList \",\") }}"
	}
}
