{
	admin :2019 {
		origins 10.0.0.0/16 2600:1f16:10b8:f800::/56
	}
	auto_https off
	http_port 8080
	persist_config off
	servers {
		metrics
	}
}

http:// {
	root * /srv
	file_server
	templates

	respond /healthz 200
	respond /templates/* 404

	header {
		Content-Security-Policy "script-src 'self'; frame-ancestors 'none'"
		Permissions-Policy "geolocation=()"
		Referrer-Policy "no-referrer"
		Strict-Transport-Security "max-age=63072000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		X-XSS-Protection "1; mode=block"
	}

	@cache_one_week {
		path /assets/*
		path /robots.txt
		path /favicon.ico
	}
	route {
		header Cache-Control no-store
		header @cache_one_week Cache-Control "public,max-age=604800,must-revalidate"
	}
}
